# Create your own with provided details in README.md
.env

# Personal stuff.
/commands/cmd_template

# Visual Studio Code & NodeJS mess
FS-ServerStatus-Stripped.code-workspace
node_modules
package-lock.json