# Create your own with provided details in README.md
.env

# Personal stuff.
notes.cjs
/commands/cmd_template
/commands/local_files
/commands/restart.js

# Visual Studio Code & NodeJS mess
FS-ServerStatus.code-workspace
node_modules
package-lock.json

# Farming Simulator Dedicated Server specifc commands - If you want source code for any of these, let me know :)
/commands/server.js
/commands/players.js

# Contains code to call host information.
/commands/hostinfo.js