.env
notes.cjs
/commands/cmd_template

# Visual Studio Code & NodeJS mess
FS-ServerStatus.code-workspace
node_modules
package-lock.json

# FS-Stats files, I don't feel the need to share them to repository yet.
/commands/server.js
/commands/players.js
/commands/testserver.js
/commands/silo.js
/commands/savesettings.js

# Contains command to call host stats.
/commands/hostinfo.js